In [1]:
# import packages
import numpy as np
import pandas as pd

In [4]:
# Mounting to google drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [6]:
# Read a comma-separated values (csv) file into DataFrame.
# specify the file path, encoding, and delimiter
data = pd.read_csv('/content/drive//My Drive/The Elements of Statistical Data Processing (masters, 2021-2022)/3.Introduction To Machine Learning/L1.T1.salary_and_population.csv', encoding = 'utf-8', delimiter=',')

In [7]:
# .head() returns the first 5 rows for the data
data.head()

               Region_RU           Region_EN  ...  Population  Unnamed: 4
0         Алтайский край        Altai Region  ...      218866         NaN
1       Амурская область         Amur Region  ...      793194         NaN
2  Архангельская область  Arkhangelsk Region  ...     1144119         NaN
3   Астраханская область    Astrakhan Region  ...     1014065         NaN
4   Белгородская область     Belgorod Region  ...     1547418         NaN

[5 rows x 5 columns]

In [9]:
# delete all rows with specific 'Region_EN'
# Samara Region, Nizhny Novgorod Region, Kemerovo Region, Primorsky Region, Nenets Autonomous Okrug
data = data.set_index("Region_EN")
data = data.drop("Samara Region", axis=0) # Delete all rows with label Samara Region
data = data.drop("Nizhny Novgorod Region", axis=0) # Delete all rows with label Nizhny Novgorod Region
data = data.drop("Kemerovo Region", axis=0) # Delete all rows with label Kemerovo Region
data = data.drop("Primorsky Region", axis=0) # Delete all rows with label Primorsky Region
data = data.drop("Nenets Autonomous Okrug", axis=0) # Delete all rows with label Nenets Autonomous Okrug

In [10]:
data

                                               Region_RU  ...  Unnamed: 4
Region_EN                                                 ...
Altai Region                              Алтайский край  ...         NaN
Amur Region                             Амурская область  ...         NaN
Arkhangelsk Region                 Архангельская область  ...         NaN
Astrakhan Region                    Астраханская область  ...         NaN
Belgorod Region                     Белгородская область  ...         NaN
...                                                  ...  ...         ...
Republic of Chechnya                Чеченская Республика  ...         NaN
Chuvash Republic                    Чувашская Республика  ...         NaN
Chukotka AO                                 Чукотский АО  ...         NaN
Yamalo-Nenets Autonomous district      Ямало-Ненецкий АО  ...         NaN
Yaroslavl Region                     Ярославская область  ...         NaN

[80 rows x 4 columns]

In [11]:
#Find the sample mean  X
data['AVG_Salary'].mean()

38468.55

In [12]:
# Find the standard deviation  σ :
data['AVG_Salary'].std(ddof = 0)

16275.137340357533

In [13]:
# Find the variance estimate  S2 :
data['AVG_Salary'].var(ddof = 0)

264880095.44750005

In [14]:
# Find the sample median  Me 
data['AVG_Salary'].median()

32089.5